/* 헤비 관련 커스텀 스타일 */

@font-face {
    font-family: 'PretendardJPVariable';
    src: url('/PretendardJPVariable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'PretendardJPVariable', sans-serif;
    font-weight: 600;
}
