---
import MobileMenuFooter from "node_modules/@astrojs/starlight/components/MobileMenuFooter.astro"
import SidebarPersister from "node_modules/@astrojs/starlight/components/SidebarPersister.astro"
import SidebarSublist from "node_modules/@astrojs/starlight/components/SidebarSublist.astro"

const { sidebar } = Astro.locals.starlightRoute
---

<SidebarPersister>
    <SidebarSublist sublist={sidebar} />
    <ins
        class="kakao_ad_area"
        style="display:none;"
        data-ad-unit="DAN-adfREtfFWxy50pGB"
        data-ad-width="300"
        data-ad-height="250"></ins>
</SidebarPersister>

<div class="md:sl-hidden">
    <MobileMenuFooter /><ins
        class="kakao_ad_area"
        style="display:none;"
        data-ad-unit="DAN-adfREtfFWxy50pGB"
        data-ad-width="300"
        data-ad-height="250"></ins>
</div>
