---
import MobileMenuFooter from "node_modules/@astrojs/starlight/components/MobileMenuFooter.astro"
import SidebarPersister from "node_modules/@astrojs/starlight/components/SidebarPersister.astro"
import SidebarSublist from "node_modules/@astrojs/starlight/components/SidebarSublist.astro"

const { sidebar } = Astro.locals.starlightRoute
---

<SidebarPersister>
    <SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
    <MobileMenuFooter />
</div>